.header {
    padding: 20px 0 0 0;

    @include b(tablet) {
        padding: 20px 20px 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-nav {
            justify-content: space-between;

            @include b(tablet) {
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($white-color, .9);
                width: 320px;
                z-index: 2;
                padding: 120px 0;
                transform: translateX(320px);
            }

            @include b(mobile) {
                width: 100%;
                transform: translateX(100%);
            }

            &--open {
                transform: translateX(0);
            }
        }
    }

    &__nav {
        display: flex;
        align-self: flex-end;
        transition: $trs;

        @include b(tablet) {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
    }

    &__item {
        padding: 0 25px;

        @include b(tablet) {
            margin: 25px;
        }

        &-link {
            position: relative;

            &:hover {
                color: $blue-color;

                &::before {
                    content: '';
                    position: absolute;
                    top: -20px;
                    right: 7px;
                    width: 10px;
                    height: 6px;
                    background-image: url(../img/header/menu-arrow.svg);
                    background-repeat: no-repeat;
                }
            }
        }
    }

    &__contact {
        margin-left: 50px;

        @include b(tablet) {
            margin-left: 0;
        }
    }

    &__btn {
        padding: 10px 20px;
        margin-left: 50px;

        @include b(tablet) {
            margin-left: 0;
        }
    }

    &__modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;

        @include b(tablet) {
            width: 90%;
            text-align: left;
        }
    }

    &__close {
        display: block;
        text-align: right;
        color: #aaaaaa;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__btn-menu {
        width: 27px;
        height: 22px;
        margin-right: 15px;
        position: relative;
        display: none;

        @include b(tablet) {
            display: block;
            z-index: 3;
        }

        &--open {
            position: fixed;
            right: 15px;

            .header__btn-line:nth-child(1) {
                transform: rotate(45deg);
                top: 9px;
                background-color: $blue-color;
            }

            .header__btn-line:nth-child(2) {
                display: none;
            }

            .header__btn-line:nth-child(3) {
                transform: rotate(-45deg);
                top: 9px;
                background-color: $blue-color;
            }
        }
    }

    &__btn-line {
        position: absolute;
        width: 27px;
        height: 2px;
        background-color: $blue-color;
        left: 0;
        transition: $trs;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 10px;
        }

        &:nth-child(3) {
            top: 20px;
        }
    }

}

#inputName,
#inputAge {
    font-family: $main-ff;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 37px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 0 12px;
    margin: 15px 0;
    outline: none;
}

#inputSubmit {
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $secondary-color;
    color: $white-color;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}