.portfolio {
    padding: 145px 0;
    text-align: center;
    background-color: $pink-color;

    &__caption {
        margin-bottom: 40px;
    }

    &__text {
        color: $secondary-color;
        font-size: 21px;
        line-height: 30px;
        max-width: 430px;
        margin: 0 auto 40px;
        @include b(mobile) {
            padding: 0 25px;
        }
    }
}

.parallax-window {
    height: 400px;
    background: transparent;
}