.users {
    padding: 200px 0 150px;

    &__caption {
        max-width: 400px;
        margin: 0 auto 30px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }


    &__content {
        border: 1px solid rgba(69, 88, 128, 0.2);
        border-radius: 4px;
        padding: 40px 32px 20px;
        text-align: center;

        &-text {
            text-align: left;
            color: $secondary-color;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 50px;
        }

        &-img {
            margin: 0 auto;
        }

        &-img-box {
            margin-bottom: 25px;
        }

        &-title {
            line-height: 27px;
            margin-bottom: 10px;
        }

        &-link {
            display: block;
            text-align: center;
        }
    }
}

.slick-slider {
    width: 50%;
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
    color: $btn-color;
    font-size: 30px;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -40px;
}

.slick-dots li button:before {
    font-size: 10px;
    top: 20px;
    color: $btn-color;
}

.slick-dots li.slick-active button:before {
    color: $btn-color;
}